#container{
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.navbar ul{
  list-style-type: square;
  list-style-position: outside;
}

.navbar ul li{
  margin: 0px 10px;
}

.textarea{
  margin: 0 auto;
  padding: 0px 40px;
}

.patternImage{
  background-image: linear-gradient(180deg, red, blue);
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.title{
  font-family: 'Arvo', serif;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px;
}

.subtitle{
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0px;
}

.chaptitle{
  font-family: 'Arvo', serif;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: 15px 0px 10px 0px;
  border-bottom-style: dashed;
  border-bottom-width: 10px;
  border-bottom-color: black;
}

.byline{
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.pic{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 10px 0px;
}

.caption{
  color: #999999;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

blockquote{
  font-family: "Arvo", serif;
  font-size: 1.5em;
  font-weight: 400;
  text-align: right;
  color: #CC5500;
}

#map{
  padding: 15px 0px;
  margin: 0 auto;
  text-align: center;
}

footer{
  background-color: black;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  color: white;
  padding: 15px 0px;
  margin-top: 10px;
}

#trafContainer{
  margin: 15px 0px;
  padding-bottom: 10px;
}

#trafContainer h3{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 8px;
}

#sourceBox{
  background-color: #FFCC55;
  border-style: dashed;
  border-width: 8px;
  border-color: black;
  margin: 10px auto;
  width: 50%;

}

#sourceBox strong{
  margin-left: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

#sourceBox p{
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.25em;
  font-size: 1.25em
}

@media screen and (max-width: 1000px){
#sourceBox strong{
  font-size: 1em;
  margin-left: 5px;
}
#sourceBox p{
  font-size: 0.7em;
  margin-left: 2px;
}
}
