/* Styles for my resume */
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px
}


/* All basic text */
body{
  font-family: 'Open Sans', arial, sans-serif;

}



/* Banner name at top */
.name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* Banner subheading */
#title{
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

/* Section titles */
.sectionheader {
  font-size: 1.5em;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px
}

/* Job title */
.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

/* Employer */
.organization{
  font-weight: 400;
  font-size: 1.25em;
}

/* Job dates */
.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 2px 0px 0px 0px;
}

/* Job description */
.description{
  font-size: 1em;
  margin: 10px, 0px, 10px, 0px;
}

/* contact info */
.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#degrees{
  margin: 5px 0px 0px 0px;
}

#do{
  margin: 5px 0px 0px 0px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
