  @import url('https://fonts.googleapis.com/css?family=Arvo:700,700i|Raleway:400,400i,700,700i,900,900i');



#container{
  max-width: 2000px;
  min-width: 480px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  padding: 0px 20px;
}

/* My name in the Jumbotron */
.custom_name{
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  color: #333e88;
  text-transform: uppercase;
  font-family: "Arvo", sans-serif;
  margin-bottom: 0px
}

/* My title in the Jumbotron */
#title{
  font-size: 1.5em;
  font-style: italic;
  color: black;
  font-family: Raleway, serif;
  font-weight: 700;
  margin-left: 10px;
}

/* Any "p" element not covered below */
p{
  font-family: Raleway, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  margin-left: 10px;
}

/* Dividing line in the Jumbotron */

.liner{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
    border-color: #0E1738
}

/* External link list */
.menu{
  padding-left: 25px;
  padding-top: 14px;
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
  display: inline-block;
}

.menu li {
  margin-bottom: 1px;
}

/* Rules for smaller screens */
@media screen and (max-width: 400px) {
  .custom_name {
    font-size:2.5rem;
  }
}

/* Section titles */
.sectionheader {
  font-size: 3em;
  background-color: #333e88;
  color: white;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Arvo", sans-serif;
  margin: 20px 0px 10px 0px;
  padding-left: 5px;
  width: 100%
}

/* Job title */
.jobtitle{
  font-weight: 700;
  font-size: 1.5em;
  font-family: Raleway, sans-serif;
  color: black;
}

/* Employer */
.organization{
  font-weight: 400;
  font-size: 1.25em;
  font-family: Raleway, sans-serif;
  color: black;
}

/* Job dates */
.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 2px 0px 0px 0px;
  font-family: Raleway, sans-serif;
  color: black;
}

/* Job description */
.description{
  font-size: 1em;
  margin: 5px 0px 10px 0px;
  color: black;
}

#jobsbox{
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}

#schoolsbox{
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  color: color: black;
}

#degrees{
  margin: 5px 0px 0px 0px;
}

#degrees li{
  font-weight: 400;
  font-size: 1.25em;
  font-family: Raleway, sans-serif;
}

/* My ugly mug */
#headshot{
  max-width: auto;
  min-width: 5%;
}

/* My even uglier banner */
#banner{
  min-width: 10%;
  padding: 10px 0px;
}

/* My even uglier list of talents */
#skillz{
  margin: 0 auto;
  width: 80%;
}

.skilltype{
  font-family: "Arvo", serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

/* Rules for icons */
#icon{
  margin: auto;
  display: block;
  padding-top: 10px;
}

.skilldesc{
  text-align: center;
  padding-bottom: 10px;
}

#skillz h5{
  text-align: right;

}

#software{
  padding-left: 10px;
}

#footer{
  font-family: Raleway, sans-serif;
  font-size: 1.75em;
  text-align: center;
  font-weight: 700;
  background-color: #333e88;
  color: white;
  padding-top: 10px;
  margin-bottom: 15px;
}
